#ui {
  width: 1000px;
}

#board {
    border: 1px solid grey;
    background: #DDD url("/img/dot-grid.png");
    position: relative;
    z-index: 0;
    /* These are actually part of the html.
    width: 800;
    height: 600; */
}

#sidepanel {
    float: right;
    width: 180px;
    height: 590px;
    margin-left: 3px;
    background-color: #BBB;
    border: 1px solid grey;
    padding: 5px;
}

.tool {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #555;
    background-color: #DDD;
    display: inline-block;
    margin-left: 8px;
}

.tool.active {
    background-color: #BBD;
}

h3 { margin: 0px; }
